google-colab
asyncio
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
GPUtil
httpx
moviepy
natsort
opencv-python
Pillow
psutil
pytz
pip
pyrogram==2.0.80
requests
tgcrypto
uvloop
yt_dlp
